<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.travel.dao.TtOrdersMapper">
  <resultMap id="BaseResultMap" type="com.group.travel.pojo.po.TtOrders">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ispay" jdbcType="INTEGER" property="ispay" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="identifier" jdbcType="INTEGER" property="identifier" />
    <result column="price" jdbcType="BIGINT" property="price" />
    <result column="created" jdbcType="DATE" property="created" />
    <result column="updated" jdbcType="DATE" property="updated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ispay, category, identifier, price, created, updated
  </sql>
  <select id="selectByExample" parameterType="com.group.travel.pojo.po.TtOrdersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tt_orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tt_orders
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tt_orders
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.group.travel.pojo.po.TtOrdersExample">
    delete from tt_orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.group.travel.pojo.po.TtOrders">
    insert into tt_orders (id, ispay, category, 
      identifier, price, created, 
      updated)
    values (#{id,jdbcType=BIGINT}, #{ispay,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, 
      #{identifier,jdbcType=INTEGER}, #{price,jdbcType=BIGINT}, #{created,jdbcType=DATE}, 
      #{updated,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.group.travel.pojo.po.TtOrders">
    insert into tt_orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ispay != null">
        ispay,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="identifier != null">
        identifier,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ispay != null">
        #{ispay,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="identifier != null">
        #{identifier,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        #{created,jdbcType=DATE},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.group.travel.pojo.po.TtOrdersExample" resultType="java.lang.Integer">
    select count(*) from tt_orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tt_orders
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ispay != null">
        ispay = #{record.ispay,jdbcType=INTEGER},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.identifier != null">
        identifier = #{record.identifier,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=BIGINT},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=DATE},
      </if>
      <if test="record.updated != null">
        updated = #{record.updated,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tt_orders
    set id = #{record.id,jdbcType=BIGINT},
      ispay = #{record.ispay,jdbcType=INTEGER},
      category = #{record.category,jdbcType=VARCHAR},
      identifier = #{record.identifier,jdbcType=INTEGER},
      price = #{record.price,jdbcType=BIGINT},
      created = #{record.created,jdbcType=DATE},
      updated = #{record.updated,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.group.travel.pojo.po.TtOrders">
    update tt_orders
    <set>
      <if test="ispay != null">
        ispay = #{ispay,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="identifier != null">
        identifier = #{identifier,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=DATE},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group.travel.pojo.po.TtOrders">
    update tt_orders
    set ispay = #{ispay,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      identifier = #{identifier,jdbcType=INTEGER},
      price = #{price,jdbcType=BIGINT},
      created = #{created,jdbcType=DATE},
      updated = #{updated,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>